.home {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 375px) {
  .home {
    display: block;
    width: 100vw;
  }
}
