.navbar {
  position: relative;
}

.navbar::after {
  content: "";
  display: block;
  border-bottom: 2px solid transparent;
  position: absolute;
  bottom: 0;
  width: 0;
  margin-bottom:  -1.25rem;
  transition: all 0.3s ease-in;
}

.navbar:hover::after {
  border-bottom: 2px solid #fff;
  position: absolute;
  width: 100%;
}
